@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.modal-content {
  background-color: #040f1f; 
  color: #ffffff; 
  border: 2px solid #007bff; 
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6); 
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease-in-out;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff; 
  text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(0, 123, 255, 0.5), transparent);
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.form-control {
  font-size: 1rem;
  padding: 10px;
  background-color: #ffffff; 
  color: #000000;
  border: 2px solid #007bff; 
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff; 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); 
}

.btn-outline-secondary {
  cursor: pointer;
  border-color: #007bff; 
  color: #007bff; 
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-outline-secondary:hover {
  background-color: #007bff; 
  color: #ffffff; 
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6); 
}

.alert-danger {
  text-align: center;
  background-color: #dc3545; 
  color: #ffffff; 
  box-shadow: 0 0 15px rgba(220, 53, 69, 0.6); 
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.alert-danger:hover {
  background-color: #ff5555; 
}

.register-link, .admin-login-link {
  color: #007bff; 
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.register-link::before, .admin-login-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #007bff;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.register-link:hover::before, .admin-login-link:hover::before {
  transform: translateX(100%);
}

.register-link:hover, .admin-login-link:hover {
  color: #ffffff;
}
